
.box{
    position: relative;
    width: 90%;
    height: 83vh;
    margin: 70px auto 10px;
    border-radius: 4px;
    background: white;
    padding: 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,.14);
}


.left{
    float: left;
    background: #2D3954;
    height: 100%;
    width: 14%;
}


.right{
    float: left;
    /*background: red;*/
    height: 100%;
    width: 86%;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    background: #fafafa;
    height: 8%;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    font-size: 16px;
    color: #99a2aa;
}

