.info{
    display: flex;
    align-items: center;
    /*margin-left: 5%;*/
    height: 8%;
    border-bottom: 1px solid #ddd;
    padding: 20px;
    color: #00a1d6;
}

.box{
    height: 83vh;
}


.col{
    float: left;
    width: 4px;
    height: 16px;
    margin-top: 4px;
    margin-right: 2px;
    background-color: #00a1d6;
    border-radius: 4px;
}