.box {
    display: flex;
    background-color: red;
    width: 100%;
    height: 100%;
}

.header {
    height: 10%;
    background-color: yellow;
    padding: 0px;
}

.sider {
    background-color: blueviolet;
}


.footer {
    padding: 0px;
    background-color: lawngreen;
}

.content {
    width: 95%;
    margin: 10px auto;
}

.imgCss{
    flex-direction: row;
    background-color: rgb(125, 188, 234);
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-items: center;*/
    height: 10%;
}
.img{
    position: relative;
    left: 29%;
    width: 50%;
    height: 100%;
    background-image: url("./assets/img/logo.jpg") ;
    background-size: contain;
    background-repeat: no-repeat;
}
